//registry.npmjs.org/:_authToken=${{secrets.NPM_TOKEN}}
//registry.npmjs.org/:always-auth=true
# registry=https://registry.npmjs.org
# @alessiobianchini:registry=https://npm.pkg.github.com
# always-auth=true
