<div>
  <input id="czc" ngPatternMask placeholder="XXX XXX" pattern="\w\d\w \d\w\d" class="masked" 
ngpmPattern="_X_ X_X" id="zipca" type="text" name="zipcodeca" 
title="6-character alphanumeric zip code in the format of A1A 1A1" />
</div>

<div>
  <input id="czc" ngPatternMask placeholder="DD/MM" class="masked" 
ngpmPattern="dd/MM" id="zipca" type="text" name="zipcodeca" 
title="6-character alphanumeric zip code in the format of A1A 1A1" />
</div>


<div>
  <span id="czc" ngPatternMask placeholder="dd.MM.yyyy" class="masked" 
ngpmPattern="dd.MM.yyyy" id="zipca" type="text" name="zipcodeca" 
title="6-character alphanumeric zip code in the format of A1A 1A1" >a</span>
</div>